<div class="container" style="margin-top:40px;">
            <h2>Jquery LightGallery</h2>
            <div class="demo-gallery">
                <ul id="lightgallery" class="list-unstyled row">
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=dhSmGdPXwCTC_M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/V42H8uRvVSc/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgdii=kPMomf2rPPh4OM:&imgrc=dhSmGdPXwCTC_M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/q88hGgpvrRQ/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=FQTx49aqS1J4HM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/-Q0EXXswUXY/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=NWTVxjTHgSVUQM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/5U1POOkx1YU/maxresdefault.jpg">
                        </a>
                    </li>
    				<li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=9qZrBXQM3UE17M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/Ha6fOYlOQZo/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=R6pf8CIjvs2FtM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/l6tgdSZc3-U/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=zl3uUev-qM5iPM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/ISv-IbWLKaY/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=YQk4reXDwMd9oM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/OCoNvM7YZOU/maxresdefault.jpg">
                        </a>
                    </li>
    				<li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=h77rGY-SP2zdWM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/9rZAk5EUvak/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?q=tea+4+theatre+episodes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwih5vuQ2cLjAhXQ8HMBHSNkBtUQ_AUIFCgE&biw=1366&bih=615#imgrc=ghaMbUqk3jKb7M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/Fo1KEJAEi98/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=hsU21Bb6rTcK3M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/SvGcdSqSDI0/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=lMqDx4d_OLKpwM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/9g0YLQhO3Tg/maxresdefault.jpg">
                        </a>
                    </li>
    				<li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=HXMXjGoSsd_QMM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/uHi8FgD4pA0/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=wqQ9ZXODKlqnGM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/NDCDvcTU6yA/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=0awk_IMmn7DoxM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/oFXRWIfdmCE/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=OoDLEas3fxgkvM:">
                            <img class="img-responsive" src="https://m.media-amazon.com/images/M/MV5BYzZkYjViNTYtN2NmMy00ZDQ2LTk1NGMtZDhhNWJlYTVkZmM0L2ltYWdlXkEyXkFqcGdeQXVyNzE4ODY1NzE@._V1_.jpg">
                        </a>
                    </li>
    				<li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/4-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=wRG5UPji6BFpsM:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/yTFPT7-v-Ws/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=NVmrC4Mg8pbu5M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/M97flFjfeEU/maxresdefault.jpg">
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=tn2w9lqZqOv1-M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/ZjBLmBQarn4/maxresdefault.jpg"> 
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
                        <a href="https://www.google.com/search?biw=1366&bih=615&tbm=isch&sa=1&ei=Zp0yXffGO4auvgSe0bj4CQ&q=marathi+best+natak+acts+images&oq=m&gs_l=img.3.0.35i39l2j0l8.587475.587922..590314...0.0..0.113.215.0j2......0....1..gws-wiz-img.....0.27YVESyoIT4#imgrc=4-wwY8c3GF4N5M:">
                            <img class="img-responsive" src="https://i.ytimg.com/vi/HbIrTXmJSwM/maxresdefault.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        